<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Edit Product</title>
</head>
<body>
<div class="container">
	<form action = '/products/<%= @product.id %>' method = 'post'>
		<input type='hidden' name="_method" value="patch">
		<input type='hidden' name='authenticity_token' value='<%=form_authenticity_token%>'>
	<div class="form-group">
		<label for="name">Name</label>
		<input type="text" name='name' id='name' value="<%= @product.name %>">
	</div>
	<div class="form-group">
		<label for="description">Description</label>
		<input type="text" name="description" id="description" value="<%= @product.description %>">
	</div>
	<div class="form-group">
		<label for='pricing'>Pricing</label>
		<input type="number" name="pricing" step='.01' id="pricing" value="<%= @product.pricing %>">
	</div>
		<button>Update Product</button>
	</form>
</div>
</body>
</html>